doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, user-scalable=no')

		link(href='dist/css/main.css' rel='stylesheet')
		link(href='dist/assets/favicon.ico' rel='shortcut icon')

		title _scaffold_jade
	body

		// terminal body
		include _home.jade

		script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
		script(src='dist/js/main.js' type='text/javascript')
